.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wrapperInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapperInput label {
    font-size: 20px;
}

.wrapperInput input {
    width: 280px;
    height: 30px;
    border: none;
    box-shadow: 0 0 1.5px #000;
    border-radius: 6px;
    font-size: 18px;
    padding: 5px 10px;
}

.form button {
    border-radius: 15px;
    max-width: 250px;
    font-size: 18px;
    margin: 0 auto;
    padding: 7px 18px;
    border: none;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
    transition: all .5s;
    background: #FFFFFF;
}

.form button:hover {
    transform: translateY(-1.8px);
}

.form button:active {
    transform: translateY(.8px);
}

.linkToHome {
    
}