.onlineUsersBlock {
    position: absolute;
    top: -38px;
    right: 10px;    
}

.btnToCheckUsers {
    display: flex;
    gap: 10px;
    border: 1px solid #426b42;
    color: #426b42;
    padding: 4px 7px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.onlineUsers {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.onlineUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.wrapperNameImage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.onlineUser p {
    color: #426b42;
    font-size: 17px;
    font-size: 14px;
}

.onlineUser img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.typingWrapper {
    position: absolute;
    right: 20px;
    top: 20px;
}

.spread {
    overflow: hidden;
    display: inline-block;
    width: 15px;
    position: absolute;
    right: -15px;
    transition: all .2s;
    animation: movieToRight .7s infinite;
    letter-spacing: 2px;
}

@keyframes movieToRight {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(5px);
    }
}

@media screen and (max-width: 600px) {
    .onlineUser {
        gap: 0;
        align-items: flex-end
    }
}
